.tabelinha {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  border-radius: 3px;


}
.tabelinha td, .tabelinha th {
  padding: 12px;

}
.tabelinha td {
  border: 1px solid rgba(0, 0, 0, 0.363);
}

.tabelinha tr:nth-child(even){background-color: #f2f2f2;}
.tabelinha tr {background-color: #f2f2f2;}

.tabelinha th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #000000bb;
    color: white;
}

#gotinha{
  display: inline-flex;
}

#al{
 margin-left: 180px;
 float: left;
}

#bz{
  float: right;

}

.peninha{
  float:right;
  width: 50px;
  }

  .conteudo {
    background-color: rgba(0, 0, 0, 0.521);
    width: 75vw;
    min-height: 500px;
    margin-top: 20px;
    padding: 35px;
    border-radius: 10px;
    margin: 0 auto;
  }

  .form-comanda {
    text-align: center;
  }

  .input-comanda {
    height: 35px;
  }

  select option {
    font-size: 17px;
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.pagamento {
  text-align: center;
  margin-top: 25px;
}