.container-prod {
    width: 35vw;
    min-height: 210px;
    background-color: rgba(0, 0, 0, 0.651);
    margin-top: 20px;
    color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgb(19, 19, 19);
    padding-bottom: 15px;
}

.container-prod-tit {
    font-size: 1.9vw;
    text-transform: uppercase;
    height: 80px;
    display: grid;
    align-content: center;
    background-color: rgba(73, 73, 73, 0.733)
}

.container-prod-preco {
    font-size: 20px;
    margin-top: 10px;
    color: #faaf3e!important;
    font-weight: bold;
}

.container-prod-descricao {
    width: 30vw;
    margin-top: 17px;
}

.container-prod-adicionar {
    width: 30vw;
    height: 80px;
    display: grid;
    align-content: end;
    grid-template: 'quantidade enviar';
}

.container-prod-adicionar input {
    width: 100px;
    height: 30px;
    grid-area: quantidade;
    text-align: center;
}

