
* {
  padding: 0 ;
  margin: 0 ;
}

body {
  background-color: #4d4d4d;

}

h1 {
  color: white;
  text-align: center;
}

p {

  font-size: 20px;
}


.rodape {

  bottom: 0;
  width: 100%;

  position: fixed;

}

.asimg{
margin: 1px 4px 0 0;
padding: 10px;
background-color: #ffffff;
border: 1px solid #dbdbdb;
}




h1{ color:white;
  text-align: center;
}

.forgot-passwd-link {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.forgot-passwd-link:hover {
  text-decoration:underline;
}

.tit-nav {
  padding-top: 13px;
}

/* ------------------------------------------ */


.content {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
    font: 0.9em sans-serif;
    text-indent: 6px;
    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 250px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #666666;/* sobra dos espaços de txt */
    border-radius:6px;
    width:500px;
    height:30px;
    background-color: #e6e6e6;
    color: #992F08;
    font-weight: bolder;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
}


.content:focus  {
    /* width:505px;
    height:23px; */
    outline: 0;
    border: none;
    color: #F27127;
    background-color: #FFF;
    border-bottom: 2px solid #DBff83;
    box-shadow: 1px 2px 6px;
    border-radius:3px;

}
.content:hover {
	border: none;
    color: #75342b;
    border-bottom: 2px solid #DBff2D;
    box-shadow: 1px 2px 2px ;
    border-radius:3px;
}
#limpar{

	padding: 11px 5px;
	vertical-align: middle;
	background:#FF3E31;
	color:white;
	border-radius:6px;
	font-size: 15px;
	font-family:helvetica, serif;
	text-decoration:none;
    border: none;
    margin-top: 10px;
}
#cadastrar{
	float: right;
    margin-top: 10px;
    padding: 11px 21px;
    vertical-align: middle;
    background:#ff9870;
    color:white ;
    border-radius:6px;
    font-size: 15px;
    font-family:helvetica, serif;
    text-decoration:none;
    margin-right: 2%;
    border: none;
}
#cadastrar:hover {
    border: 6px #e88133 ;
    outline: 0;
    border: none;
    color: #e88133;
    background-color: white;
    box-shadow: 1px 2px 6px;
    border-radius:3px;
    font-weight: bold;
    cursor: pointer;
}

#limpar:hover {
	outline: 0;
    border: none;
    color: #e00133;
    background-color: white;
    box-shadow: 1px 2px 6px;
    border-radius:3px;
    font-weight: bold;
    cursor: pointer;
}
#cadastrar:focus {
	outline: 0;
    border: none;
    color: #effff3;
    background-color: white;
    box-shadow: 1px 2px 6px;
    border-radius:3px;
    font-weight: bold;
}

#limpar:focus {
    outline: 0;


}

#titulo{
	font-size: 41px;
    font: arial;
    margin: 0 auto;
    text-align: center;
    color: #992525;
}

.ver{
    display: inline-block;
    margin-left: 3px ;
    width:300px;
    font-size: 15px;
    font: arial;
    color: #ffff08;
}

/* #menu {
    display: grid;
    align-content: center;
} */
/*  */

#menu ul {
    padding:0px;
    margin:0px;
    background-color:#000000;
    list-style:none;
    display: flex;
    height: 60px;
    padding-top: 5px;
}
#menu ul div { display: inline;
height: 45px;
margin-top: 0px;
padding-top: 15px;
}

/* #menu ul div:hover {
 background-color: white;
}

.tit-nav-exception:hover {
    background-color: black;
} */

#menu ul div li {
    padding: 2px 10px;
    display: inline-block;

    border-left: 1px solid white;

}

#menu ul div li a {
    color: #ffffff;
    text-decoration: none;
}


#menu ul div li a:hover {
    text-decoration: underline;
}
#rolonha {
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  letter-spacing: 1px;



}
#rolonha td {
  padding-left: 5%;
}

#rolonha p {
  font-family: Comfortaa, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  mix-blend-mode: luminosity;
}
.link {
  text-decoration: none;
  color: #862d78; background: #eee; border-bottom: 1px solid #e4e4e4;
}
h1{ color:white;
    text-align: center;

}


.forgot-passwd-link {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.forgot-passwd-link:hover {
    text-decoration:underline;
}
.active {
  color:  #faaf3e!important;
  font-weight: bold;
}

.content-admin {
  background-color: white;
  width: 70vw;
  border-radius: 5px;
  margin: 0 auto;
}

.btn-cadastro {
  height: 40px;
  width: 150px;
  background-color:#000000;
  border: black;
  color: white;
}

.btn-cadastro:hover {
  background-color: #2b2b2b;
  border:  #2b2b2b;
  cursor: pointer;
}

.titulo {
  background-color: #4d4d4d;
  width: 30vw;
  height: 80px;
  font-size: 20px;
  display: grid;
  align-content: center;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  color: white;
  margin: 0 auto;
}

.form-content {
  margin-left: 220px;
}

.text-input-form-prod {
  border-radius: 0;
}

.listagem {
  background-color: rgba(0, 0, 0, 0.521);
  width: 75vw;
  min-height: 500px;
  margin-top: 20px;
  padding: 35px;
  border-radius: 10px;

}

.listagem table tr th {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  color: white;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.listagem table tr td {
  border: 1px solid rgba(255, 255, 255, 0.062);
  color: rgba(255, 255, 255, 0.781);
  padding: 12px;
  text-align: center;
  font-size: 16px;
}

.btn-primary {
  background-color: rgb(15, 79, 218);
  color: white;
  border: rgb(15, 79, 218);
  padding: 5px;


}

.btn-primary:hover {
  background-color: rgb(11, 49, 129);
  border: rgb(11, 49, 129);
  cursor: pointer;
}

.btn-outline-primary {
  background-color: rgba(15, 79, 218, 0);
  color:  rgb(15, 79, 218);
  border:1px solid rgb(15, 79, 218);
  padding: 5px;


}

.btn-outline-primary:hover {
  background-color:  rgb(15, 79, 218);
  border: 1px solid rgb(15, 79, 218);
  color: white;
  cursor: pointer;
}

.btn-danger {
  background-color: rgb(201, 30, 30);
  border:  rgb(201, 30, 30);
  color: white;
  padding: 5px;

}

.btn-danger:hover {
  background-color: rgb(201, 0, 0);
  border:  rgb(202, 0, 0);
  cursor: pointer;
}

.btn-outline-danger {
  background-color: rgba(201, 30, 30, 0);
  border: 1px solid rgb(201, 30, 30);
  color:rgb(201, 30, 30);
  padding: 5px;

}

.btn-outline-danger:hover {
  background-color: rgb(201, 30, 30);
  border: 1px solid rgb(201, 30, 30);
  color: white;
  cursor: pointer;
}

.btn-bordered-yellow {
  background-color:  rgba(0, 0, 0, 0);
  border: 2px solid #faaf3e;
  color: #faaf3e;
  cursor: pointer;
}

.btn-bordered-yellow:hover {
  background-color:  #faaf3e;
  color: black;
}

.listagem-claro td {
  background-color: rgba(0, 0, 0, 0.247);
}

.alert-success {
  width: 50vw;
  background-color: rgb(157, 248, 157);
  height: 80px;
  text-align: left;
  padding: 10px;
  display: grid;
  align-content: center;
  margin-top: 5px;
  border-left: 8px solid rgb(74, 202, 74);
  color: rgb(9, 70, 9);
}

.alert-danger {
  background-color: #dd7f88;
  height: 80px;
  text-align: left;
  padding: 10px;
  display: grid;
  align-content: center;
  color: #50030b;
  width: 50vw;
  border-left: 8px solid rgb(211, 39, 39);
  margin-top: 5px;
}

.text-filtro {
  width: 70px;
  padding: 6px;
  margin-bottom: 10px;
}

.pagination li {
  background-color: rgba(0, 0, 0, 0.247);
  width: 50px;
  height: 50px;
  display: inline-grid;
  align-content: center;
  margin-left: 5px;
  margin-top: 5px;
}

.pagination a {
  color: white;
  text-decoration: none;
}

.pagination-active-li {
  background-color: white!important;
}
.pagination-active-a {
  color:  rgba(0, 0, 0, 0.842)!important;
}

.pagination-disabled-p {
  visibility:hidden;
}

.pagination-disabled-a {
  visibility: hidden;
}

.pagination {
  align-self: end;
}

.acao {
  position: relative;
  display: inline-block;
}

.acao div {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}



.acao:hover .sub-acao {
  display: block;
}

.sub-acao a {
  color: black;
  padding: 3px 5px;
  text-decoration: none;
  display: block;
}

.sub-acao a:hover {

  background-color: rgb(196, 193, 193);
}

.table-listagem {
  width: 75vw;
}

.container-lanches , .container-batatas, .container-bebidas {
  background-color: black;
  color: #faaf3e;
  width: 25vw;
  height: 150px;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  cursor: pointer;
  border: 2px solid #faaf3e;
  border-radius: 10px;
   opacity: 0.8;
  transition: 0.3s;
  outline: none;

}
.container-lanches:hover {
  opacity: 2
}

.container-batatas:hover {
  opacity: 2
}

.container-bebidas:hover {
  opacity: 2
}

.button-lanche-comprar, .button-bebida-comprar, .button-batata-comprar {
  width: 300px;
  height: 200px;
  display: block;
}

/*******************************/
.div-pagination {
  background-color: rgba(0, 0, 0, 0.521);
  width: 35vw;
  padding-bottom: 10px;
  border-radius: 0 0 10px 10px;
}

.welcome-titulo {
  font-size: 13px;
}

.select {
  width: 200px;
  height: 100px;
  background-color: #4d4d4d;
}

.dropbtn {
  background-color: #494949fa;
  color: #fff;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 400px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgb(73 73 73 / 74%);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 400px;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color:rgb(73 73 73 / 56%)}

.dropdown:focus-within .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #494949;
}
