*{
	margin: 0;
	padding: 0;
}
body{
    background-image: url("../img/lanche.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
    overflow: scroll;


}
form {

	width:510px;
    padding: 30px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font: 100% sans-serif;
    display: block;
    margin: 0 auto;
    border-radius: 1em;
    background: rgba( 000,000, 000, 0.9);
    border:4px solid #ffffff;
    opacity: 80%;

}
input {
	margin-bottom: 10px
}
div + div{/*entre uma div e outra tera um espaço*/
    margin-top: 1em;
}
label {

   font-family: 'Comfortaa', cursive; /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 90px auto;
    overflow: hidden;
    color: #ffffff;/* cor fonte*/
}
.content {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
    font: 0.9em sans-serif;
    text-indent: 6px;
    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 250px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #666666;/* sobra dos espaços de txt */
    border-radius:6px;
    width:500px;
    height:30px;
    background-color: #e6e6e6;
    color: #992F08;
    font-weight: bolder;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
}


.content:focus  {
    /* width:505px;
    height:23px; */
    outline: 0;
    border: none;
    color: #F27127;
    background-color: #FFF;
    border-bottom: 2px solid #DBff83;
    box-shadow: 1px 2px 6px;
    border-radius:3px;

}
.content:hover {
	border: none;
    color: #75342b;
    border-bottom: 2px solid #DBff2D;
    box-shadow: 1px 2px 2px ;
    border-radius:3px;
}
#limpar{

	padding: 11px 5px;
	vertical-align: middle;
	background:#FF3E31;
	color:white;
	border-radius:6px;
	font-size: 15px;
	font-family:helvetica, serif;
	text-decoration:none;
    border: none;
    margin-top: 10px;
}

#cadastrar{
	float: right;
    margin-top: 10px;
    padding: 11px 21px;
    vertical-align: middle;
    background:#ff9870;
    color:white ;
    border-radius:6px;
    font-size: 15px;
    font-family:helvetica, serif;
    text-decoration:none;
    margin-right: 2%;
    border: none;
}
#cadastrar:hover {
    border: 6px #e88133 ;
    outline: 0;
    border: none;
    color: #e88133;
    background-color: white;
    box-shadow: 1px 2px 6px;
    border-radius:3px;
    font-weight: bold;
    cursor: pointer;
}

#limpar:hover {
	outline: 0;
    border: none;
    color: #e00133;
    background-color: white;
    box-shadow: 1px 2px 6px;
    border-radius:3px;
    font-weight: bold;
    cursor: pointer;
}
#cadastrar:focus {
	outline: 0;
    border: none;
    color: #effff3;
    background-color: white;
    box-shadow: 1px 2px 6px;
    border-radius:3px;
    font-weight: bold;
}

#limpar:focus {
    outline: 0;


}

#titulo{
	font-size: 41px;
    font: arial;
    margin: 0 auto;
    text-align: center;
    color: #992525;
}

.ver{
    display: inline-block;
    margin-left: 3px ;
    width:300px;
    font-size: 15px;
    font: arial;
    color: #ffff08;
}

/* #menu {
    display: grid;
    align-content: center;
} */

#menu ul {
    padding:0px;
    margin:0px;
    background-color:#000000;
    list-style:none;
    display: flex;
    height: 60px;
    padding-top: 5px;
}
#menu ul div { display: inline;
height: 45px;
margin-top: 0px;
padding-top: 15px;
}

/* #menu ul div:hover {
 background-color: white;
}

.tit-nav-exception:hover {
    background-color: black;
} */

#menu ul div li {
    padding: 2px 10px;
    display: inline-block;

    border-left: 1px solid white;

}

#menu ul div li a {
    color: #ffffff;
    text-decoration: none;
}


#menu ul div li a:hover {
    text-decoration: underline;
}


h1{ color:white;
    text-align: center;

}

.alert-danger {
    background-color: #dd7f88;
    height: 50px;
    text-align: left;
    padding: 10px;
    display: grid;
    align-content: center;
    color: #50030b;
    width: 34.5vw;
    border-left: 8px solid rgb(211, 39, 39);
    margin-top: 5px;
  }

.forgot-passwd-link {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.forgot-passwd-link:hover {
    text-decoration:underline;
}
